pyrogram
tgcrypto
requests
pyromod
yt-dlp==2023.10.13
aiohttp
aiofiles
ffmpeg
ffprobe
asyncio
humanize
cryptg
wget
mediainfo
pycurl
aria2
async-lru==2.0.2
certifi==2023.5.7
charset-normalizer==3.1.0
mutagen==1.46.0
pycryptodome==3.18.0
pyromod==1.5
PySocks==1.7.1
python-dotenv==1.0.0
urllib3==2.0.3
websockets==11.0.3
motor
pytz
bs4
